body{
    background-color:#FCF5C7;
}

/* typography */
h1{
    font-size: 60px;
    color:#406e8e;
    font-family: 'Holtwood One SC', serif;
    text-align: center;
}

h2{
    font-size: 30px;
    color:#744253;
    font-style: italic;
    font-family: 'Holtwood One SC', serif;
    text-align: center;
}

h3{
    font-size: 30px;
    color:#744253;
    font-style: italic;
    font-family: 'Holtwood One SC', serif;
    text-align: center;
}

p{
    font-size: 20px;
    color: #182a36;
    line-height: 25px;
    font-family: 'Neuton', serif;
    text-align: center;
}

.buttons-link{
    border-style: solid;
    border-color:#744253;
    background-color:#FF928B;
    border-width: 2px;
    text-decoration: none;
    color:#182a36;
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin: 20px 0px auto;
}

.buttons-alert{
    border-style: solid;
    border-color:#744253;
    background-color: #FCF5C7;
    border-width: 2px;
    text-decoration: none;
    color:#182a36;
    border-radius: 15px;
    display: block;
    width: 130px;
    text-align: center;
    margin: 25px 0px auto;
}

nav{
padding: 20px;
background-color: #744253;
}

.nav-links{
list-style-type: none;
width: 200px;
margin: 0 auto;
padding: 0;
}

.nav-links li{
display: inline;
}

.nav-links li a{
padding-left: 10px;
padding-right:10px;
}

.top-banner{
    height: 150px;
    text-align: center;
    padding: 100px 0 0 0;
    background-color: #FF928B;
    margin: 0;
    overflow: hidden;
}

.main-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    background-color:#8EA8C3
}

footer{
    height: 100px;
    text-align: center;
    padding: 10px 0;
    background-color:#FF928B;
    margin-top: 10px;
}