body{
    background-color: rgb(221, 235, 255);
}

/* typography */
h1{
    font-size: 40px;
    color:rgb(48, 72, 99);
    font-style: italic;
    font-family: 'Holtwood One SC', serif;
}

p{
    font-size: 16px;
    color: rgb(46, 51, 59);
    line-height: 15px;
    font-family: 'Neuton', serif;
}

.buttons-link{
    border-style: solid;
    border-color:rgb(109, 8, 24);
    background-color: rgba(255, 163, 227, 0.445);
    border-width: 2px;
    text-decoration: none;
    color:rgb(46, 51, 59);

}