body{
    background-color: rgb(221, 235, 255);
}

/* typography */
h1{
    font-size: 40px;
    color:rgb(107, 28, 28);
    font-style: italic;
    font-family: 'Holtwood One SC', serif;
    text-align: center;
}

h2{
    font-size: 40px;
    color:rgb(126, 56, 10);
    font-style: italic;
    font-family: 'Holtwood One SC', serif;
    text-align: center;
}

h3{
    font-size: 40px;
    color:rgb(153, 143, 0);
    font-style: italic;
    font-family: 'Holtwood One SC', serif;
    text-align: center;
}

p{
    font-size: 20px;
    color: rgb(46, 51, 59);
    line-height: 25px;
    font-family: 'Neuton', serif;
    text-align: center;
}

.buttons-link{
    border-style: solid;
    border-color:rgb(109, 8, 24);
    background-color: rgba(255, 163, 227, 0.445);
    border-width: 2px;
    text-decoration: none;
    color:rgb(46, 51, 59);
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}

.buttons-alert{
    border-style: solid;
    border-color:rgb(109, 32, 8);
    background-color: rgba(255, 204, 163, 0.637);
    border-width: 2px;
    text-decoration: none;
    color:rgb(46, 51, 59);
    border-radius: 15px;
    display: block;
    width: 130px;
    text-align: center;
    margin-top: 25px;
}